################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MessageBroker.Core/obj/Debug/netcoreapp2.1
/MessageBroker.Core/obj
/.vs/MessageBroker.Core/v15
/.vs/MessageBroker-Core/v15
